body{
	background-color: #182B29;
	height: 100%;
	width: 100%;
	font-family: "arial";
	color: white;
}
#container{
	width: 100%;
	height: 100%;
}
.canvas-container{
	width: 900px;
	margin: 0, auto;
	
}

.nav-menu{
	width: 100%;
	height: 30%;
	
}

.nav-menu-link{
	font-size: 30px;
	
}
span:hover{
	font-weight: bold;
	cursor: pointer;
}
.blog-nav{
	width: 10%;
}
.blog-nav-link{
	float: left;
}